@import "../styles.css/description.css";
@import "../styles.css/about.css";
@import "../styles.css/projects.css";
@import "../styles.css/services.css";
@import "../styles.css/feedback.css";
@import "../styles.css/gallery.css";
@import "../styles.css/contacts.css";
@import "../styles.css/footer.css";
@import "../styles.css/popup.css";
@import "../styles.css/header.css";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  margin: auto;
}

/*MAIN*/

.container {
  margin: 0 auto;
  width: 1150px;
}

/*ADAPTIVE tablet*/

@media (max-width: 1199px) {
  .container {
    width: 100%;
    padding-left: 17px;
    padding-right: 17px;
  }
}

/*ADAPTIVE mobile*/

@media (max-width: 767px) {
  .container {
    padding-left: 13px;
    padding-right: 13px;
  }
}
