/*MAIN*/

.contacts_inner {
  margin-bottom: 150px;
  padding-top: 150px;
}

.contacts_wrapper {
  margin-top: 74px;
  display: flex;
  column-gap: 104px;
}

.phone-number:before,
.email:before {
  content: "";
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  top: -48px;
  background-repeat: no-repeat;
}

.phone-number:before {
  background-image: url(../icons/phone-icon.png);
}

.email:before {
  background-image: url(../icons/mail-icon.png);
  color: rgb(0, 0, 0);
}

.phone-number {
  position: relative;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.02em;
  color: #121212;
  text-decoration: none;
}

.email {
  position: relative;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.03em;
  color: rgb(129, 129, 129);
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 2.5px solid rgb(129, 129, 129);
}

/*ADAPTIVE tablet*/

@media (max-width: 1199px) {
  .contacts_inner {
    margin-bottom: 80px;
    padding-top: 120px;
  }

  .contacts_wrapper {
    column-gap: 114px;
  }

  .phone-number,
  .email {
    font-size: 45px;
    line-height: 60px;
  }
}

/*ADAPTIVE mobile*/

@media (max-width: 767px) {
  .contacts_inner {
    margin-bottom: 80px;
    padding-top: 80px;
  }

  .contacts_wrapper {
    margin-top: 58px;
    flex-direction: column;
    row-gap: 58px;
  }

  .phone-number:before,
  .email:before {
    width: 18px;
    height: 18px;
    background-size: contain;
    top: -37px;
  }

  .phone-number,
  .email {
    font-size: 35px;
    line-height: 46px;
  }

  .email {
    color: #121212;
    padding-bottom: 0px;
    border-bottom: 0px;
  }
}
