/*MAIN*/

.page_title {
  margin-bottom: 30px;
  max-width: 956px;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.03em;
  color: #121212;
}

.team_description {
  margin-bottom: 150px;
  position: relative;
  height: 500px;
  background-image: url(../resources/header-background-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.team_description_text {
  position: absolute;
  left: 40px;
  bottom: 40px;
  width: 430px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.03em;
  color: #ffffff;
}

/*ADAPTIVE tablet*/

@media (max-width: 1199px) {
  .page_title {
    max-width: 802px;
    font-size: 50px;
  }

  .team_description {
    margin-bottom: 120px;
    height: 400px;
  }

  .team_description_text {
    bottom: 30px;
  }
}

/*ADAPTIVE mobile*/

@media (max-width: 767px) {
  .page_title {
    max-width: 348px;
    font-size: 30px;
    line-height: 32px;
  }

  .team_description_text {
    left: 15px;
    bottom: 15px;
    max-width: 312px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 550px) {
  .team_description {
    margin-bottom: 80px;
    height: 304px;
    width: 100%;
    background-image: url(../resources/header-background-image-mobile.png);
    background-size: cover;
  }
}
