/*MAIN*/

.footer {
  background-color: #121212;
}

.footer ul {
  margin-bottom: 87px;
  padding-top: 57px;
  display: flex;
  width: 100%;
  gap: 55px;
  justify-content: center;
}

.footer a {
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  transition: 150ms linear;
}

.footer a:hover {
  opacity: 0.5;
}

.footer-copyright {
  padding-bottom: 30px;
  text-align: center;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.03em;
  color: #ffffff;
  opacity: 0.5;
}

/*ADAPTIVE tablet*/

@media (max-width: 1199px) {
}

/*ADAPTIVE mobile*/

@media (max-width: 767px) {
  .footer ul {
    margin-bottom: 41px;
    padding-top: 30px;
    gap: 30px;
  }

  .footer a {
    font-size: 12px;
    line-height: 16px;
  }
  .footer-copyright {
    padding-bottom: 25px;
    font-size: 13px;
    line-height: 18px;
  }
}
