/*MAIN*/

.body_fixed {
  overflow: hidden;
}

.header_inner {
  position: relative;
  margin-bottom: 70px;
  margin-top: 33px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  gap: 56px;
}

.nav__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #121212;
  text-transform: uppercase;
  text-decoration: none;
  transition: opacity 0.2s;
}

.nav__link:hover {
  opacity: 0.5;
  border-bottom: 1px solid;
}

.burger-btn {
  display: none;
}

.burger {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  z-index: 50;
}

.burger_open {
  opacity: 1;
  visibility: visible;
}

.burger__content {
  width: 274px;
  height: 100%;
  overflow: auto;
  padding-top: 80px;
  padding-left: 30px;
  background-color: #fff;
  transition: transform 0.2s linear;
  transform: translateX(100%);
}

.burger_open .burger__content {
  transform: translateX(0);
}

.burger_nav {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.burger_nav__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #121212;
  text-transform: uppercase;
  text-decoration: none;
  transition: opacity 0.2s;
}

/*ADAPTIVE tablet*/

@media (max-width: 1199px) {
  .nav {
    display: none;
  }

  .burger_nav {
    margin-bottom: 90px;
  }

  .burger-btn {
    display: block;
    width: 50px;
    height: 100%;
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
  }

  .burger-btn::before,
  .burger-btn::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 2px;
    width: 100%;
    background-color: black;
  }

  .burger-btn_open::before,
  .burger-btn_open::after {
    display: none;
  }

  .burger-btn::after {
    top: 6px;
    width: 31px;
  }

  .burger__contacts-title {
    margin-bottom: 23px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.03em;
    color: #000000;
    opacity: 0.5;
  }

  .burger__contacts-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .burger__contacts-phone,
  .burger__contacts-tg {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.03em;
    color: #121212;
    text-decoration: none;
  }

  .burger-btn_open {
    position: absolute;
    position: fixed;
    top: 20px;
    right: 20px;
    height: 34px;
    width: 34px;
    z-index: 100;
    background-image: url(../icons/menu_close_btn.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

/*ADAPTIVE mobile*/

@media (max-width: 767px) {
  .header_inner {
    height: 14px;
    margin-bottom: 60px;
  }

  .logo {
    width: 96px;
    height: 16px;
  }

  .burger-btn {
    width: 38px;
  }

  .burger-btn::after {
    top: 5px;
    width: 24px;
  }

  .page_title {
    margin-bottom: 25px;
  }
}
