/*MAIN*/

.body_fixed {
  overflow: hidden;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}

.popup_open {
  opacity: 1;
  visibility: visible;
}

.popup__content {
  position: relative;
  width: 777px;
  padding: 32px 45px 86px 45px;
  max-height: 100%;
  overflow-y: auto;
  background-color: #ffffff;
  border-radius: 10px;
}

.popup__title {
  margin-bottom: 4px;
  padding-top: 94px;
  font-weight: 400;
  font-size: 45px;
  line-height: 61px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #000000;
}

.popup__text {
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #000000;
}

.popup__close-btn {
  position: absolute;
  right: 34px;
  top: 32px;
  width: 50px;
  height: 50px;
  background-image: url(../icons/close.png);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
  cursor: pointer;
}

.btn {
  display: block;
  font-weight: 400;
  font-size: 30px;
  line-height: 153px;
  text-align: center;
  text-decoration: none;
  letter-spacing: -0.03em;
  color: #ffffff;
  width: 100%;
  height: 153px;
  background: #ad1818;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.send-btn {
  display: block;
  box-sizing: border-box;
  padding: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 67px;
  text-align: center;
  text-decoration: none;
  letter-spacing: -0.03em;
  color: #ffffff;
  width: 100%;
  height: 67px;
  background: #ad1818;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input {
  display: block;
  padding: 0;
  margin-bottom: 50px;
  width: 100%;
  font-weight: 400;
  font-size: 25px;
  line-height: 44px;
  letter-spacing: -0.03em;
  color: #000000;
  opacity: 0.5;
  border: none;
  border-bottom: 1px solid #000000;
}

.input_last {
  margin-bottom: 90px;
}

input:focus {
  outline: none;
}

/*ADAPTIVE tablet*/

@media (max-width: 1199px) {
}

/*ADAPTIVE mobile*/

@media (max-width: 767px) {
  .btn {
    font-size: 22.8103px;
    line-height: 100px;
    height: 100px;
    border-radius: 3.80172px;
  }

  .popup__close-btn {
    width: 30px;
    height: 30px;
    background-size: 18px 18px;
  }

  .popup__content {
    padding: 40px 29px 80px 16px;
  }

  .popup__title {
    margin-bottom: 11px;
    padding-top: 35px;
    font-size: 25px;
    line-height: 34px;
  }

  .popup__text {
    margin: auto;
    margin-bottom: 60px;
    width: 209px;
    font-size: 14px;
    line-height: 19px;
  }

  .input {
    margin-bottom: 40px;
    width: 100%;
    font-size: 18px;
    line-height: 35px;
  }

  .input_last {
    margin-bottom: 70px;
  }
}
