/*MAIN*/

.services {
  background-color: black;
}

.black_container {
  margin: auto;
  padding-bottom: 150px;
  width: 1150px;
}

.services_inner {
  margin: auto;
  padding-top: 151px;
}

.services_title {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.services_box_wrapper {
  margin-bottom: 106px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 11px;
  row-gap: 85px;
}

.services_box {
  position: relative;
  width: 569px;
}

.image {
  margin-bottom: 24px;
  width: 100%;
  object-fit: cover;
}

.price_conditions {
  position: absolute;
  top: 31px;
  left: 30px;
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
  letter-spacing: -0.03em;
  color: #ffffff;
  padding-left: 21px;
  padding-right: 21px;
  height: 40px;
  background: #ad1818;
  border-radius: 5px;
}

.services_example {
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: -0.03em;
  color: #ffffff;
}



/*ADAPTIVE tablet*/

@media (max-width: 1199px) {
  .black_container {
    margin: auto;
    width: 100%;
    padding-left: 17px;
    padding-right: 17px;
  }

  .black_container {
    width: 100%;
    padding-left: 17px;
    padding-right: 17px;
  }

  .services_box_wrapper {
    margin-bottom: 80px;
    column-gap: 10px;
    row-gap: 80px;
  }

  .services_box {
    width: calc(50% - 5px);
  }

  .image {
    margin-bottom: 15px;
  }

  .price_conditions {
    left: 32px;
    font-size: 20px;
    line-height: 40px;
    padding-left: 27px;
    padding-right: 27px;
    height: 40px;
    border-radius: 5px;
  }

  .services_example {
    font-size: 25px;
    line-height: 34px;
  }
}

/*ADAPTIVE mobile*/

@media (max-width: 767px) {

  .black_container {
    padding-bottom: 80px;
  }
  
  .services_inner {
    padding-top: 80px;
  }

  .services_title {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 19px;
  }

  .black_container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .services_box_wrapper {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
  }

  .services_box {
    width: 100%;
  }

  .image {
    margin-bottom: 10px;
  }

  .price_conditions {
    top: 23px;
    left: 24px;
    font-size: 14px;
    line-height: 30px;
    padding-left: 24px;
    padding-right: 24px;
    height: 30px;
    border-radius: 3.80172px;
  }

  .services_example {
    font-size: 18px;
    line-height: 25px;
  }


}
